    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom">
        <div class="container-fluid">
            <span class="navbar-text mx-auto">&copy; Nandagopan Dilip  2022 - COMP.229.005 Fall</span>
        </div>
    </nav>
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>