<!--
Nandagopan Dilip
about.ejs
10/08/2022
-->
<% include partials/header.ejs %>
<div class="about-container">
    <div class="self-image">
        <img class="self-image" id="self-image" src="/images/selfimage.jpg" alt="picture of me"/>
    </div>
    <div class="self-summary" id="self-summary">
        <h1>
          Who am I?
        </h1>
        <p id="self-points">
        </p>
    </div>
    <div class="resume" id="resume">
      <h1>
        My Resume
      </h1>
      <span class="resume-doc" id="resume-doc">
        You can find my resume
        <a href="/additional files/Resume.pdf">
            here.
        </a>
      </span>
    </div>
  </div>
  <script src="/javascripts/about.js" type="module"></script>
<% include partials/footer.ejs %>