<% include partials/header.ejs %>
  <div class="type" id="typer">
    <span class="cursor"></span>
  </div>
  <script src="/javascripts/home.js" type="module"></script>
<% include partials/footer.ejs %>

