<!--
Nandagopan Dilip
index.ejs
10/08/2022
-->
<% include partials/header.ejs %>
  <div class="home-container">
    <div class="typer-area" id="typer-area">
    <span class="typer" id="typer"></span>
    <span class="cursor"></span>
    </div>
    <div class="mission" id="mission">
        <h1>
          Mission
        </h1>
        <p>
          Using my creativity and programming skills to deliver happiness to the clients.
        <p>
    </div>
    <div class="welcome" id="welcome">
      <p>
        Welcome to my personal portfolio.
      </p>
      <p>
        You can learn more about me 
        <a href="/about">here</a>
        .
      </p>
      <p> 
        Thank you for visiting and have fun.
      </p>
    </div>
  </div>
  <script src="/javascripts/home.js" type="module"></script>
<% include partials/footer.ejs %>

