<% include partials/header.ejs %>
  <div class="services-container">
    <table class="table table-dark table-striped">
      <thead>
        <tr>
            <th class="heading">Services</th>
            <th class="heading">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Database Management
          </td>
          <td id="services">
              <p class="desc-services">
                Management of Databases in Oracle sql, or MYSQL.
              </p>
              <p class="services-images">
                <img class="services-images" src="/images/databaseman.jpg">
              </p>
            </td>
          </tr>
          <tr>
            <td>
              Web Developement
            </td>
            <td class="services">
              <p class="desc-services">
                Static and Dynamic website and web applicatin creation. MEAN stack develpement.
              </p>
              <p class="services-images">
                <img class="services-images" src="/images/webdev.jpeg">
              </p>
            </td>
          </tr>
          <tr>
            <td>
              Software Development
            </td>
            <td class="services">
              <p class="desc-services">
                Software develpement in multiple languages. For example C#, C++, C, Java, Python etc.
              </p>
              <p class="services-images">
                <img class="services-images" src="/images/softwaredev.webp">
              </p>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
<% include partials/footer.ejs %>