/* 
 * style.css
 * Nandagopan Dilip
 * 301166925
 * 08/10/2022
 */

body {
  padding: 0px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgb(214, 214, 214);
  background: rgb(255, 255, 255);
}

a {
  color: #00B7FF;
}

.home-container {
  padding-top: 30px;
  height: 100vh;
  width: 100vw;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgb(214, 214, 214);
  background-image: url("/images/bghome.jpeg");
  background-position: center;
  background-size: cover;
}

.typer-area {
  display: flex;
  color:rgb(237, 245, 252);
  font-size: 35px;
  font-family: Papyrus, fantasy;
  font-weight: bolder;
  word-spacing: 6px;
  margin: 50px auto 30px auto;
  justify-content: center;
  align-items: center;
}

.cursor {
  display: inline-block;
  content: "";
  margin: 31px 0px 30px 4px;
  width: 7px;
  height: 45px;
  background: #ffffff;
  animation: blink 1.15s steps(2) infinite; /*creating animation for the cursor*/
}

.mission {
  display: block;
  background-color: rgb(70, 64, 59);
  height: 30vh;
  width: 100vw;
  color:rgb(226, 252, 255);
  font-size: 25px;
  margin: 100px 10px 0px 0px;
}
.welcome {
  display: block;
  text-align: center;
  background-color: rgb(39, 52, 53);
  height: 30vh;
  width: 100vw;
  color:rgb(226, 252, 255);
  font-size: 25px;
  margin: 0px 10px 100px 0px;
}

/* blinking animation for cursor */
@keyframes blink {
  0% { opacity: 1; }
  100% { opacity: 0; }
}